body {
    background-color: lightgreen;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
}

p {
    font-family: arial;
    font-size: 20px;
}


#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #27AE60;
}

#menu li {
  float: left;
}

#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#menu li a:hover {
  background-color: #808B96;
}

#menu .active {
  background-color: #145A32;
}

section {
 display: flex;
 
}

aside {
 flex: 1
}

article {
 padding: 25px;
 flex: 4
}